Checks: 'clang-analyzer*,cert*,cppcore*,misc*,performance*,portability*,
        bugprone*,-bugprone-easily-swappable-parameters,
        readability*,-readability-identifier-length
        google*,
        hicpp*,
        llvm-*,-llvm-header-guard
        modernize-*,-modernize-use-trailing-return-type'