Checks: 'clang-analyzer*,cert*,cppcore*,misc*,performance*,portability*,readability*,
        bugprone*,-bugprone-easily-swappable-parameters
        google*,
        hicpp*,
        llvm-*,
        modernize-*,-modernize-use-trailing-return-type'