[submodule "lib/imgui"]
	path = examples/hello-world/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/opengl-cpp"]
	path = lib/opengl-cpp
	url = git@github.com:AlexandreHertzog/opengl-cpp.git
